[tool.black]
line-length = 120
target-version = ['py38']

[tool.isort]
profile = "black"
line_length = 120

[tool.flake8]
max-line-length = 120
extend-ignore = ["E203", "W503"]

[tool.pylint]
max-line-length = 120

[build-system]
requires = ["setuptools>=45", "wheel"]
build-backend = "setuptools.build_meta"
